fastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain-community
chromadb
sentence-transformers
pypdf
python-multipart
groq
python-dotenv
uvicorn
fastapi
python-multipart
pymupdf
pytesseract

